#ads-right.hidden-xs.hidden-sm
	script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
	//- ad-right
	ins.adsbygoogle(style="display:inline-block;width:300px;height:600px", data-ad-client="ca-pub-0029006930915581", data-ad-slot="7456278541")
	script.
		(adsbygoogle = window.adsbygoogle || []).push({});