extends ../template.jade

block title
  title Înregistrare

block content
  ul#content
    li(v-for="ad in ads") 
      {{ ad.title }}
      span.glyphicon.glyphicon-remove(aria-hidden="true")
      a(href="/update/{{ ad.id }}")
        span.glyphicon.glyphicon-pencil(aria-hidden="true")
      span.glyphicon.glyphicon-repeat(aria-hidden="true")
