extends ../template.jade

block title
  title Ãnregistrare

block content
  form.form.form-horizontal(action="create", method="POST")
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="email") Email
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input.form-control.input-sm(type="email", name="email", required)

    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="password") Password
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input.form-control.input-sm(type="password", name="password", required)
    
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="confirmation") Password confirmation
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input.form-control.input-sm(type="password", name="confirmation", required)
    
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="phone") Phone number
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input.form-control.input-sm(type="tel", name="phone", onkeypress="return isNumberKey(event)")
        
    input(type="hidden", name="_csrf", value="#{ _csrf }")
    
    .form-group.text-center
      input.btn.btn-primary(type="submit", value="Register")


block scripts
  //- allow only numbers in 'price' and 'phone' area
  script(type="text/javascript").
    var isNumberKey = function (evt) {
      var charCode = (evt.which) ? evt.which : event.keyCode

      if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false

      return true
    }
