extends ../template.jade

block title
  title Înregistrare

block content
  form.form.form-horizontal(action="/user/create", method="POST", onsubmit="checkEmail()")
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="email") Email
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input#email.form-control.input-sm(type="email", name="email", onkeyup="checkEmail()", required)

    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="password") Password
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input#password.form-control.input-sm(type="password", name="password", required)
    
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="password-confirmation") Password confirmation
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input#password-confirmation.form-control.input-sm(type="password", name="password-confirmation", onkeyup="checkPassword()", required)
    
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="phone") Phone number
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input.form-control.input-sm(type="tel", name="phone", onkeypress="return isNumberKey(event)")
        
    input(type="hidden", name="_csrf", value="#{ _csrf }")
    
    .form-group.text-center
      input.btn.btn-primary(type="submit", value="Register", onclick="checkEmail()")


block scripts
  script(src="/js/registration.js")
