extends ../template.jade

block title
  title Postează anunţ

block content
  form.form.form-horizontal(action="/ad/newad2", method="GET")
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="category") titlu
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        select.form-control.input-sm(name="category")
          each category in categories
            option(value="#{ category.id }") #{ category.title }
        //- input.form-control.input-sm(type="text", name="category")

    input(type="hidden", name="_csrf", value="#{ _csrf }")
    
    .form-group.text-center
      input.btn.btn-primary(type="submit", value="Next")
