extends ../template.jade

block title
  title Anunţ Orhei

block content
  #content.row
    ul#menu-list.hidden-xs
      li(v-for="subcategory in subcategories")
        a(href="/{{ category }}/{{ subcategory.title }}")
          span {{ subcategory.title }}
      li: p
        li: a(href="/newad"): span.btn.btn-danger.btn-sm Postează anunţ

    ul#ads-listing
      li(v-for="ad in ads")
        a(:href="ad.url")
          span.ad-name {{ ad.title }}

        span.ad-price.hidden-xs(v-if="ad.price") {{ ad.price }}
        span.ad-price.hidden-xs(v-else) &nbsp;

        span.ad-date.hidden-xs {{ ad.date }}

    include ../rightadblock

block scripts
