extends ../template.jade

block title
  title Postează anunţ

block content
  form.form.form-horizontal#somecontent(action="/ad/create", method="POST")
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="subcategory") Subcategorie
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        select.form-control.input-sm(name="subcategory")
          each subcategory in subcategories
            option(value="#{ subcategory.id }") #{ subcategory.title }
          
    
    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="title") titlu
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input.form-control.input-sm(type="text", name="title")

    .form-group
      label.col-xs-12.col-sm-12.col-md-2.col-lg-2.control-label(for="description") descriere
      .col-xs-12.col-sm-12.col-md-4.col-lg-4
        input.form-control.input-sm(type="text", name="description")
                
                
    //- input(type="hidden", name="_csrf", value="#{ _csrf }")
    input#someother(type="hidden", name="_csrf", v-model="csrf")
    
    .form-group.text-center
      input.btn.btn-primary(type="submit", value="Postează")
